header {
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

header .logo {
  padding: 0 1rem;
}

header svg {
  display: block;
  width: 100%; height: 100%;
}

header .links{
  margin-left: auto;
  margin-right: 0.5rem;
  margin-top: auto;
}

header .links a{
  padding: 0.35rem 0.35rem 1rem 0.35rem;
  text-decoration: none;
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0 0.15rem;
  color: rgb(151,151,151);
  font-weight: bold;
  font-size: 1rem;
  transition: 200ms ease-in-out;
}

header .links a:hover{
  background-color: cadetblue;
  color: white;
}

header .links a.active{
  background-color: rgb(35,49,66);
  color: white;
}
